* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 209, 209);
  color: white;
}

.headerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(84, 84, 84, 0.307);
  box-shadow: 12px 12px 10px rgba(84, 84, 84, 0.205);
  width: 100%;
  height: 12rem;
  margin-bottom: 10rem;

  .headerLogo {
    background-repeat: no-repeat;
    display: flex;
    width: 12rem;
    height: 12rem;
  }
}

.contentArea {
  font-size: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  padding-bottom: 12rem;
  margin: 0rem 20rem;

  .bookDisplay {
    width: 50rem;
  }

  .bookTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    background-color: red;
    height: 8rem;
  }

  .bookPicture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-color: blue;
    height: 35rem;
  }

  .bookPriceLikes {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 8rem;
    width: 100%;
    padding: 0rem 15%;
  }

  .bookInfo {
    padding: 7rem 3rem;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(234, 234, 234);
    height: 11rem;
    gap: 2rem;
  }

  .commentsSection {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
  }

  .commentArea {
    text-align: center;
  }

  .submitButton {
    width: 100%;
    height: 4rem;
  }

  .submitButton:hover {
    cursor: pointer;
  }
}

.showUsername {
  flex-wrap: wrap;
  display: flex;
  background-color: brown;
  align-content: center;
  width: 100%;
  height: 4rem;
  padding-left: 3rem;
}

.showComments {
  flex-wrap: wrap;
  padding: 2rem;
  background-color: rgb(93, 93, 93);
  width: 100%;
  padding-left: 3rem;
}

input {
  font-size: 1.6rem;
  width: 100%;
  height: 6rem;
}

.bookImgs {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.likes {
  display: flex;
  align-items: center;

}

.likeIcon {
  margin-left: 2rem;
  width: 4rem;
}

.likeIcon:hover {
  cursor: pointer;
}

.titleComments {
  display: flex;
  flex-direction: column;
  max-height: 62rem;
  overflow-y: auto;
}

.currency {
  padding-right: 14rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(84, 84, 84);
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
}

.d_none {
  display: none;
}

@media (max-width: 1502px) {
  .contentArea {
    margin: 0rem 8rem;
  }
}

@media (max-width: 1266px) {
  .contentArea {
    margin: 0rem 1rem;
  }
}

@media (max-width: 1119px) {
  .contentArea {

    .bookDisplay {
      width: 40rem;
    }

    .bookTitle {
      font-size: 24px;
    }
  }

  .likeIcon {
    margin-left: 0.5rem;
  }

}


@media (max-width: 919px) {
  .contentArea {
    .bookDisplay {
      width: 80%;
    }

    .bookPicture {
      height: 40rem;
      background-color: rgb(255, 255, 255);
    }
  }

  .currency {
    padding-right: 19rem;
  }

  .likeIcon {
    margin-left: 0.5rem;
  }

  .bookImgs {
    object-fit: contain;
  }

}

@media (max-width: 641px) {
  .contentArea {
    .bookPriceLikes {
      padding: 0rem 3%
    }
  }
}

@media (max-width: 371px) {
  .contentArea{
    .bookInfo{
      font-size: 1.6rem;
    }
    .commentsSection{
      font-size: 1.6rem;
    }
    .bookPriceLikes{
      font-size: 1.8rem;
    }
  }
  }
  .bookImgs{
    height: 100%;
  }
